nav {
  flex: 2 1 0%;
  display: flex;
  justify-content: center;
}

/* Logo por defecto (horizontal) */
.responsive-logo {
  height: 50px;
  content: url("../assets/logo_horizontal.png");
}

/* Cuando la pantalla es más angosta, cambia a vertical */
@media (max-width: 768px) {
  .responsive-logo {
    content: url("../assets/logo_vertical.png");
    height: 60px;
  }
}

.navbar {
  background-color: white;
  padding: 3rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 750;
  position: relative;
  font-size: 0.9rem;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #a67c52;
  bottom: -4px;
  left: 0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 0rem;
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 65px;
}

.logo span {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
}



.btn-contacto {
  background: black;
  color: white !important;
  padding: 0.6rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
}

.social a {
  color: black;
  font-size: 1.5rem;
}

.header-right-text {
  font-size: 0.60rem;
  color: #222;
  white-space: nowrap;
  font-weight: 600;
  letter-spacing: 0.02em;
}

@media (max-width: 1200px) {
  .header-right-text {
    display: none;
  }
}