/* Intro bloque estructura */
.intro-bloque {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem; /* Aumenta el espacio superior */
  padding: 0;
}


.intro-texto {
  flex: 1.1;
  max-width: 100%;
  margin-left: 5% /* Alinea el texto al centro */
}

.intro-texto h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  
}

.intro-texto p {
  font-size: 1rem;
  margin-bottom: 1.1rem;
  line-height: 1.7;
}

.intro-imagen {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end; /* Alinea la imagen al borde derecho */
  margin-right: 2rem; /* Aumenta el margen derecho */
  position: relative;
}

.intro-imagen-chica {
  position: absolute;
  top: 20%;
  left: 9%;
  width: 16% !important;
  height: auto;
  max-width: 90vw;
  border-radius: 15%;
  z-index: 2;
  background: #fff;
  transition: box-shadow 0.3s;
}

.intro-imagen-chica:hover {
  box-shadow: 0 16px 48px rgba(0,0,0,0.22);
}

.intro-imagen img {
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  border-radius: 18px;
  object-fit: cover;
  margin-right: 0; /* Asegura que no haya margen derecho */
}

/* Responsive */
@media (max-width: 1100px) {
  .intro-bloque {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
  }
  .intro-imagen {
    justify-content: center;
  }
  .intro-imagen img {
    max-width: 100%;
  }
}


/* Bloque imagen final */
.bloque-imagen-final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 2rem 0;
}

.bloque-imagen-final img {
  max-width: 900px;
  margin-top: 5rem;
  display: block;
}

.bloque-imagen-final-texto {
  text-align: center;
  color: #7a8a94;
  font-size: 1rem;
  margin-top: 1.5rem;
  max-width: 1300px;
  width: 100%;
}