body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* Logo por defecto (horizontal) */
.responsive-logo {
  height: 50px;
  content: url("../assets/logo_horizontal.png");
}

/* Cuando la pantalla es más angosta, cambia a vertical */
@media (max-width: 768px) {
  .responsive-logo {
    content: url("../assets/logo_vertical.png");
    height: 60px;
  }
}

.navbar {
  background-color: white;
  padding: 3rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 65px;
}

.logo span {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  position: relative;
  font-size: 1.1rem;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  bottom: -4px;
  left: 0;
}

.btn-contacto {
  background: black;
  color: white !important;
  padding: 0.6rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
}

.social a {
  color: black;
  margin-left: 1rem;
  font-size: 1.5rem;
}

/*swiper */
.hero-swiper {
  width: 100%;
  height: 90vh;
  max-height: 600px;
  margin-top: 20px;
  overflow: hidden;
}

.swiper-home {
  width: 100%;
  height: 65vh;
  max-height: 600px;
  position: relative;
}

.swiper {
  position: relative;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Paginación vertical */
.swiper-pagination {
  position: absolute;
  top: 50%;
  right: 30px; /* Ajustá este valor según cuánto quieras separarla del borde */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: white;
  width: 12px;
  height: 12px;
}

/* Franja de texto debajo del menú */
.slogan {
  background-color: white;
  color: #444;
  font-size: 0.85rem;
  text-align: center;
  padding: 6px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-style: italic;
}